In [1]:
import numpy as np
import pandas as pd
from scipy.stats import chisquare,chi2_contingency

In [2]:
# Chi-Square Test to find the Goodness of Fit for Categorical Variables

survey = pd.read_csv("anonymous-survey-responses.csv")
survey.head()

,Have you ever taken a course in statistics?,Do you have any previous experience with programming?,What's your interest in data science?,"Just for fun, do you prefer dogs or cat?"
0,Yep,Nope,I want to get a job where I use data science,Cats ?±
1,Yep,I have quite a bit of experience,I want to get a job where I use data science,Dogs ?¶
2,Yep,I have a little bit of experience,It will help me in my current job,Dogs ?¶
3,Nope,I have a little bit of experience,Just curious,Cats ?±
4,"Yes, but I've forgotten everything",I have quite a bit of experience,I want to get a job where I use data science,Neither ?…

In [3]:
survey.describe()

,Have you ever taken a course in statistics?,Do you have any previous experience with programming?,What's your interest in data science?,"Just for fun, do you prefer dogs or cat?"
count,1249,1249,1249,1249
unique,3,5,4,4
top,Yep,I have quite a bit of experience,I want to get a job where I use data science,Dogs ?¶
freq,554,528,841,613

In [8]:
survey['Have you ever taken a course in statistics?'].value_counts()

Yep                                   554
Yes, but I've forgotten everything    439
Nope                                  256
Name: Have you ever taken a course in statistics?, dtype: int64

In [9]:
#Goodness of fit test for a single Categorical variable

# Let	pi denote	the	proportion	in	the	ith category
# H0	:	All	pi s	are	the	same	
# Ha	:	At	least	one	pi differs	from	the	others	

chisquare(survey["Have you ever taken a course in statistics?"].value_counts())

#The p-value < 0.05 hence we conclude that Atleast one of the proportions differs

Power_divergenceResult(statistic=108.50120096076861, pvalue=2.7495623442639547e-24)

In [10]:
chisquare(survey["Do you have any previous experience with programming?"].value_counts())

#The p-value < 0.05 hence we conclude that Atleast one of the proportions differs

Power_divergenceResult(statistic=906.2001601281024, pvalue=7.55591487886036e-195)

In [11]:
# Goodness of Fit Test between 2 categorical variables

# H0: The two categorical variables are independent
# Ha: The two categorical variables are dependent

# Creating contingency table
cont = pd.crosstab(survey["Have you ever taken a course in statistics?"],
                   survey["Do you have any previous experience with programming?"])

In [12]:
cont

Do you have any previous experience with programming?,I have a little bit of experience,I have a whole lot of expereince,I have a whole lot of experience,I have quite a bit of experience,Nope
Have you ever taken a course in statistics?,,,,,
Nope,91,1,39,108,17
Yep,190,1,109,237,17
"Yes, but I've forgotten everything",180,0,64,183,12

In [13]:
chi2_contingency(cont)

#The p-value < 0.05 hence we conclude that the 2 categorical variables are dependent

(16.827631021435366,
 0.03195483698199162,
 8,
 array([[ 94.48839071,   0.40992794,  43.45236189, 108.22097678,
           9.42834267],
        [204.47878303,   0.88710969,  94.0336269 , 234.19695757,
          20.40352282],
        [162.03282626,   0.70296237,  74.51401121, 185.58206565,
          16.16813451]]))