# Stance Detection for the Fake News Challenge

## Identifying Textual Relationships with Deep Neural Nets

### Check the problem context [here](https://drive.google.com/open?id=1KfWaZyQdGBw8AUTacJ2yY86Yxgw2Xwq0).

### Download files required for the project from [here](https://drive.google.com/open?id=10yf39ifEwVihw4xeJJR60oeFBY30Y5J8).

## Step1: Load the given dataset  

1. Mount the google drive

2. Import Glove embeddings

3. Import the test and train datasets

### Mount the google drive to access required project files

Run the below commands

In [0]:
from google.colab import drive

In [0]:
drive.mount('/content/drive/')

#### Path for Project files on google drive

**Note:** You need to change this path according where you have kept the files in google drive.

In [1]:
#project_path = "/content/drive/My Drive/Datasets/Fake News Challenge/"
project_path = ""

### Loading the Glove Embeddings

In [2]:
from zipfile import ZipFile
with ZipFile(project_path+'glove.6B.zip', 'r') as z:
    z.extractall()

# Load the dataset [5 Marks]

1. Using [read_csv()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) in pandas load the given train datasets files **`train_bodies.csv`** and **`train_stances.csv`**

2. Using [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) command in pandas merge the two datasets based on the Body ID. 

Note: Save the final merged dataset in a dataframe with name **`dataset`**.

In [2]:
import pandas as pd
import numpy as np

In [3]:
train_bodies = pd.read_csv('train_bodies.csv')
train_stances = pd.read_csv('train_stances.csv')

In [4]:
train_stances.head()

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree

In [5]:
dataset = train_bodies.merge(train_stances, on='Body ID')


<h2> Check1:</h2>
  
<h3> You should see the below output if you run `dataset.head()` command as given below </h3>

In [6]:
dataset.head()

,Body ID,articleBody,Headline,Stance
0,0,A small meteorite crashed into a wooded area i...,"Soldier shot, Parliament locked down after gun...",unrelated
1,0,A small meteorite crashed into a wooded area i...,Tourist dubbed ‘Spider Man’ after spider burro...,unrelated
2,0,A small meteorite crashed into a wooded area i...,Luke Somers 'killed in failed rescue attempt i...,unrelated
3,0,A small meteorite crashed into a wooded area i...,BREAKING: Soldier shot at War Memorial in Ottawa,unrelated
4,0,A small meteorite crashed into a wooded area i...,Giant 8ft 9in catfish weighing 19 stone caught...,unrelated

## Step2: Data Pre-processing and setting some hyper parameters needed for model


#### Run the code given below to set the required parameters.

1. `MAX_SENTS` = Maximum no.of sentences to consider in an article.

2. `MAX_SENT_LENGTH` = Maximum no.of words to consider in a sentence.

3. `MAX_NB_WORDS` = Maximum no.of words in the total vocabualry.

4. `MAX_SENTS_HEADING` = Maximum no.of sentences to consider in a heading of an article.

In [7]:
MAX_NB_WORDS = 20000
MAX_SENTS = 20
MAX_SENTS_HEADING = 1
MAX_SENT_LENGTH = 20
VALIDATION_SPLIT = 0.2
MAX_SEQUENCE_LENGTH = 1000
EMBEDDING_DIM = 100

### Download the `Punkt` from nltk using the commands given below. This is for sentence tokenization.

For more info on how to use it, read [this](https://stackoverflow.com/questions/35275001/use-of-punktsentencetokenizer-in-nltk).

In [8]:
import nltk
#nltk.download('punkt')

# Tokenizing the text and loading the pre-trained Glove word embeddings for each token  [5 marks]

Keras provides [Tokenizer API](https://keras.io/preprocessing/text/) for preparing text. Read it before going any further.

#### Import the Tokenizer from keras preprocessing text

In [9]:
import keras
from keras.preprocessing.text import Tokenizer

Using TensorFlow backend.

#### Initialize the Tokenizer class with maximum vocabulary count as `MAX_NB_WORDS` initialized at the start of step2.

In [10]:
t = Tokenizer(num_words=MAX_NB_WORDS)

#### Now, using fit_on_texts() from Tokenizer class, lets encode the data 

Note: We need to fit articleBody and Headline also to cover all the words.

In [11]:
t.fit_on_texts(dataset.articleBody + ' ' + dataset.Headline)

In [12]:
t.word_counts

OrderedDict([('a', 478544),
             ('small', 5273),
             ('meteorite', 5848),
             ('crashed', 207),
             ('into', 25604),
             ('wooded', 554),
             ('area', 7132),
             ('in', 408093),
             ("nicaragua's", 526),
             ('capital', 6867),
             ('of', 441773),
             ('managua', 1833),
             ('overnight', 749),
             ('the', 1129192),
             ('government', 23653),
             ('said', 134456),
             ('sunday', 5416),
             ('residents', 3428),
             ('reported', 21926),
             ('hearing', 2514),
             ('mysterious', 853),
             ('boom', 1459),
             ('that', 234452),
             ('left', 11643),
             ('16', 2172),
             ('foot', 2441),
             ('deep', 1218),
             ('crater', 3683),
             ('near', 12938),
             ("city's", 726),
             ('airport', 5598),
             ('associated', 4582),
             ('press', 9548),
             ('reports', 24361),
             ('spokeswoman', 2460),
             ('rosario', 491),
             ('murillo', 1012),
             ('committee', 2417),
             ('formed', 650),
             ('by', 104742),
             ('to', 499727),
             ('study', 1432),
             ('event', 4903),
             ('determined', 1234),
             ('it', 125904),
             ('was', 180100),
             ('relatively', 703),
             ('appears', 7092),
             ('have', 110415),
             ('come', 8595),
             ('off', 15561),
             ('an', 91223),
             ('asteroid', 2700),
             ('passing', 1254),
             ('close', 4953),
             ('earth', 3332),
             ('house', 11890),
             ('sized', 574),
             ('2014', 11033),
             ('rc', 903),
             ('which', 40671),
             ('measured', 228),
             ('60', 1487),
             ('feet', 2115),
             ('diameter', 71),
             ('skimmed', 36),
             ('this', 69885),
             ('weekend', 3516),
             ('abc', 508),
             ('news', 29720),
             ('nicaragua', 1656),
             ('will', 44654),
             ('ask', 2405),
             ('international', 6863),
             ('experts', 3342),
             ('help', 6673),
             ('local', 8747),
             ('scientists', 1447),
             ('understanding', 432),
             ('what', 28456),
             ('happened', 5157),
             ('had', 69250),
             ('radius', 198),
             ('39', 1131),
             ('and', 383593),
             ('depth', 335),
             ('humberto', 638),
             ('saballos', 346),
             ('volcanologist', 332),
             ('with', 129916),
             ('nicaraguan', 2414),
             ('institute', 2007),
             ('territorial', 714),
             ('studies', 1537),
             ('who', 70750),
             ('on', 179649),
             ('he', 131558),
             ('is', 188664),
             ('still', 13329),
             ('not', 82454),
             ('clear', 4723),
             ('if', 30363),
             ('disintegrated', 555),
             ('or', 41957),
             ('buried', 1384),
             ('garcia', 297),
             ('astronomy', 287),
             ('center', 4178),
             ('at', 97886),
             ('national', 7634),
             ('autonomous', 622),
             ('university', 3258),
             ('could', 28631),
             ('be', 93817),
             ('related', 3293),
             ('forecast', 467),
             ('pass', 1102),
             ('planet', 519),
             ('saturday', 4821),
             ('night', 8348),
             ('we', 48620),
             ('more', 36093),
             ('because', 17094),
             ('ice', 373),
             ('rock', 1268),
             ('wilfried', 394),
             ('strauch', 643),
             ('adviser', 511),
             ('very', 11340),
             ('strange', 1851),
             ('no', 34599),
             ('one', 42782),
             ('streak', 281),
             ('light', 1918),
             ('anyone', 5025),
             ('has', 100062),
             ('photo', 9048),
             ('something', 8614),
             ('loud', 1425),
             ('but', 70970),
             ('they', 61196),
             ("didn't", 3678),
             ('see', 12651),
             ('anything', 2902),
             ('sky', 1183),
             ('i', 48960),
             ('sitting', 1198),
             ('my', 18011),
             ('porch', 290),
             ('saw', 4391),
             ('nothing', 3904),
             ('then', 20438),
             ('all', 34207),
             ('sudden', 970),
             ('heard', 9335),
             ('large', 5000),
             ('blast', 1325),
             ('thought', 7011),
             ('bomb', 1183),
             ('felt', 2933),
             ('expansive', 432),
             ('wave', 892),
             ('jorge', 455),
             ('santamaria', 373),
             ('told', 35463),
             ('site', 8965),
             ("managua's", 514),
             ('air', 13079),
             ('force', 5416),
             ('base', 1305),
             ('only', 16209),
             ('journalists', 2837),
             ('from', 97682),
             ('state', 38469),
             ('media', 21190),
             ('were', 48691),
             ('allowed', 1405),
             ('visit', 2180),
             ('soldier', 3582),
             ('shot', 10784),
             ('parliament', 6992),
             ('locked', 211),
             ('down', 11448),
             ('after', 53169),
             ('gunfire', 1968),
             ('erupts', 93),
             ('war', 9703),
             ('memorial', 3741),
             ('tourist', 170),
             ('dubbed', 594),
             ('‘spider', 30),
             ('man’', 49),
             ('spider', 6319),
             ('burrows', 248),
             ('under', 12945),
             ('skin', 4315),
             ('for', 147709),
             ('days', 10649),
             ('luke', 1194),
             ('somers', 2614),
             ("'killed", 124),
             ('failed', 2110),
             ('rescue', 2027),
             ('attempt', 1892),
             ("yemen'", 70),
             ('breaking', 1674),
             ('ottawa', 5095),
             ('giant', 727),
             ('8ft', 76),
             ('9in', 36),
             ('catfish', 2432),
             ('weighing', 318),
             ('19', 2243),
             ('stone', 1259),
             ('caught', 5586),
             ('italy', 765),
             ('biggest', 1392),
             ('ever', 4920),
             ('reeled', 35),
             ('rod', 236),
             ('line', 2940),
             ('enormous', 600),
             ('20', 5168),
             ('fishing', 485),
             ('40', 4481),
             ('minute', 1740),
             ('boat', 652),
             ('battle', 1670),
             ('italian', 1033),
             ('catches', 309),
             ('huge', 2223),
             ('wels', 436),
             ('record', 2400),
             ('coming', 5890),
             ('store', 6214),
             ('you', 31213),
             ('pumpkin', 3680),
             ('spice', 4121),
             ('condom', 1964),
             ('gunman', 2851),
             ('killed', 17745),
             ('shooting', 11369),
             ('hill', 3176),
             ('hunt', 603),
             ('other', 21273),
             ('shooters', 124),
             ('canada', 1851),
             ('surreal', 50),
             ('photos', 3936),
             ('fisherman’s', 24),
             ('jaw', 37),
             ('dropping', 307),
             ('catch', 843),
             ('likely', 6320),
             ('people', 33087),
             ('wondering', 395),
             ('it’s', 11262),
             ('real', 7753),
             ('fisherman', 274),
             ('lands', 138),
             ('world', 13113),
             ('hooked', 440),
             ('source', 10370),
             ('tom', 845),
             ('brokaw', 413),
             ('wants', 2219),
             ('brian', 1160),
             ('williams', 1968),
             ('fired', 6723),
             ('been', 75042),
             ('canada’s', 278),
             ('just', 24249),
             ('steps', 946),
             ('away', 6508),
             ('nation’s', 353),
             ('280', 170),
             ('pound', 621),
             ('makes', 3007),
             ('set', 7532),
             ('rumor', 3521),
             ('debunked', 618),
             ('robocop', 124),
             ('style', 1050),
             ('robots', 1495),
             ('are', 76084),
             ('patrolling', 285),
             ("microsoft's", 506),
             ('campus', 1370),
             ('po', 721),
             ('127', 169),
             ('kg', 130),
             ('2', 8131),
             ('67', 594),
             ('meters', 526),
             ('monster', 298),
             ('looks', 2345),
             ('big', 5714),
             ('enough', 4478),
             ('swallow', 163),
             ('man', 29694),
             ('whole', 1454),
             ("somers'", 162),
             ('sister', 3765),
             ('says', 19676),
             ('yemen', 1594),
             ('apple', 39336),
             ('watch', 27893),
             ('shower', 1323),
             ('proof', 1348),
             ('100', 4837),
             ('000', 13455),
             ('apps', 2251),
             ('launch', 4281),
             ('canadian', 6811),
             ('building', 6384),
             ('multiple', 2904),
             ('shots', 8823),
             ('comcast', 4048),
             ('threatening', 1425),
             ('cut', 2898),
             ('customers', 3026),
             ('use', 7463),
             ('tor', 1667),
             ('web', 2795),
             ('browser', 944),
             ('criminals', 596),
             ('strikes', 5413),
             ('city', 15334),
             ('google', 3765),
             ('buy', 1958),
             ('chunk', 89),
             ('pacific', 771),
             ('shores', 623),
             ('iconic', 679),
             ('redwood', 551),
             ('office', 7972),
             ('park', 2089),
             ('report', 20111),
             ('iraqi', 12307),
             ('social', 7849),
             ('rumors', 6090),
             ('claim', 7677),
             ('leader', 13032),
             ('slain', 399),
             ('there', 31453),
             ('unconfirmed', 1673),
             ('say', 15432),
             ('figment', 29),
             ('your', 11895),
             ('own', 6488),
             ('gross', 173),
             ('imagination', 220),
             ("canada's", 469),
             ("'shot", 28),
             ("dead'", 30),
             ('wounding', 99),
             ('kurds', 2947),
             ('fear', 1940),
             ('isis', 41493),
             ('chemical', 2193),
             ('weapon', 1710),
             ('kobani', 5121),
             ('incident', 5701),
             ('monstrous', 18),
             ('last', 23996),
             ('week', 12491),
             ('hinted', 160),
             ('as', 106611),
             ('ebola', 12522),
             ('fears', 1725),
             ('spread', 3024),
             ('across', 7582),
             ('america', 3742),
             ('today', 6922),
             ('get', 13446),
             ('confirmation', 1988),
             ('daily', 7366),
             ('caller', 228),
             ('passenger', 811),
             ('dulles', 322),
             ('outside', 5354),
             ('washington', 6419),
             ('d', 617),
             ('c', 1649),
             ('apparently', 5395),
             ('taking', 5266),
             ('any', 21470),
             ('chances', 563),
             ('female', 3454),
             ('dressed', 1883),
             ('hazmat', 288),
             ('suit', 696),
             ('complete', 1033),
             ('full', 5185),
             ('body', 5028),
             ('gown', 126),
             ('mask', 463),
             ('gloves', 543),
             ('spotted', 1537),
             ('wednesday', 8421),
             ('waiting', 1505),
             ('flight', 1321),
             ('particularly', 1504),
             ('liked', 316),
             ('jcpenney', 1),
             ('bag', 463),
             ('maybe', 1595),
             ("that's", 3151),
             ('new', 35075),
             ('business', 3243),
             ('bankrupt', 30),
             ('retailer', 166),
             ('side', 2697),
             ('note', 1866),
             ('try', 2507),
             ('halloween', 87),
             ('stores', 1552),
             ('need', 3582),
             ('haz', 1),
             ('mat', 1),
             ('hurry', 9),
             ('begins', 1189),
             ('wearing', 3630),
             ('newser', 156),
             ('–', 11263),
             ('wonder', 1412),
             ('how', 14516),
             ('long', 8715),
             ('quarter', 1306),
             ('pounder', 534),
             ('cheese', 2635),
             ('can', 20106),
             ('two', 23128),
             ('australians', 200),
             ('bought', 1974),
             ('few', 6608),
             ("mcdonald's", 701),
             ('burgers', 212),
             ('friends', 7479),
             ('back', 14268),
             ('1995', 131),
             ('when', 35715),
             ('teens', 850),
             ('never', 8930),
             ('showed', 4435),
             ('up', 37895),
             ('so', 24630),
             ("kid's", 56),
             ('burger', 1932),
             ('went', 11210),
             ('uneaten—and', 56),
             ('stayed', 536),
             ('way', 10354),
             ("australia's", 98),
             ('network', 3042),
             ('we’re', 1531),
             ('pretty', 2760),
             ('sure', 4617),
             ('oldest', 713),
             ('men', 5806),
             ('casey', 283),
             ('dean', 529),
             ('holding', 3974),
             ('onto', 388),
             ('their', 36284),
             ('friend', 5208),
             ('started', 4899),
             ('joke', 970),
             ('adds', 1014),
             ('months', 6687),
             ('became', 3068),
             ('years', 15018),
             ('now', 20023),
             ('later', 9734),
             ('same', 8141),
             ('did', 12599),
             ('day', 12169),
             ('perfectly', 737),
             ('preserved', 264),
             ('its', 30533),
             ('original', 2619),
             ('wrapping', 125),
             ('his', 113684),
             ('buying', 840),
             ('mate', 197),
             ('eduard', 278),
             ('nitz', 275),
             ('even', 17327),
             ('took', 9447),
             ('australian', 1172),
             ('tv', 6504),
             ('show', 9010),
             ('project', 2017),
             ('mold', 103),
             ('free', 5325),
             ('specimen', 334),
             ('9', 6304),
             ('pair', 1205),
             ('offered', 2037),
             ('take', 8262),
             ('bite', 511),
             ('charity', 985),
             ('dissuaded', 56),
             ("show's", 56),
             ('hosts', 276),
             ("they've", 928),
             ('also', 35924),
             ('facebook', 8341),
             ('page', 5341),
             ('called', 8314),
             ('year', 27924),
             ('old', 16253),
             ('likes', 558),
             ('than', 20816),
             ('kanye', 619),
             ('west', 5817),
             ('4', 4405),
             ('044', 56),
             ('writing', 1660),
             ("they're", 2333),
             ('selling', 1475),
             ('itunes', 547),
             ('song', 998),
             ('1', 7747),
             ('69', 210),
             ('giving', 1514),
             ('proceeds', 268),
             ('beyond', 862),
             ('blue', 968),
             ('helps', 605),
             ('anxiety', 248),
             ('depression', 118),
             ('ago', 8419),
             ('sold', 2698),
             ('bottle', 560),
             ('mcjordan', 56),
             ('sauce', 58),
             ('10', 9440),
             ("here's", 1280),
             ('why', 5537),
             ('mickey', 56),
             ("d's", 56),
             ('food', 5064),
             ('seemingly', 885),
             ('decays', 56),
             ('comfort', 435),
             ('eating', 2141),
             ('chinese', 1751),
             ('woman', 11463),
             ('26', 2636),
             ('spends', 777),
             ('entire', 1972),
             ('kfc', 2355),
             ('being', 24418),
             ('dumped', 897),
             ('boyfriend', 718),
             ('suspected', 3933),
             ('cases', 4633),
             ('iraq', 18906),
             ('untrue', 483),
             ('fighters', 12407),
             ('contracted', 1609),
             ("'incorrect'", 60),
             ('health', 9823),
             ('ministry', 4143),
             ('virus', 3738),
             ('spreading', 751),
             ('among', 5334),
             ('militants', 16727),
             ('jihadists', 2684),
             ('seeking', 1878),
             ('cure', 157),
             ('mosul', 7321),
             ('hospital', 9471),
             ("'have", 69),
             ("ebola'", 69),
             ('organisation', 1418),
             ('investigating', 1923),
             ('lethal', 297),
             ('disease', 2654),
             ('cracks', 76),
             ('five', 5909),
             ('confirmed', 12177),
             ('official', 13309),
             ('confusion', 709),
             ('swirls', 53),
             ('details', 4722),
             ('murky', 114),
             ('arrest', 2923),
             ("leader's", 648),
             ("'wife'", 53),
             ('outbreak', 783),
             ('2015', 6755),
             ('update', 3303),
             ('may', 19196),
             ('deadly', 1743),
             ('sources', 9040),
             ('allegedly', 6357),
             ('amazon', 5057),
             ('com', 7692),
             ('open', 4788),
             ('first', 24835),
             ('physical', 1673),
             ('manhattan', 1357),
             ('dj', 119),
             ('alleged', 6746),
             ('audio', 8394),
             ('michael', 11764),
             ('brown', 14984),
             ('surfaced', 1826),
             ('weaponized', 61),
             ('contract', 1136),
             ('horror', 348),
             ('reportedly', 12549),
             ('matt', 1190),
             ('taibbi', 1561),
             ('leave', 3554),
             ('absence', 2419),
             ('look', 4925),
             ("'there", 390),
             ('limit', 303),
             ("depravity'", 82),
             ('islamic', 29775),
             ('feed', 1410),
             ('mother', 4753),
             ('her', 36443),
             ('son', 8990),
             ('israeli', 4534),
             ('fighter', 2841),
             ('abducted', 2923),
             ('read', 4165),
             ('boko', 13863),
             ('haram', 13226),
             ('kidnapped', 7592),
             ('girls', 11969),
             ('married', 2696),
             ('truce', 1760),
             ('does', 5959),
             ('probably', 4204),
             ('anyway', 693),
             ('kurdish', 10159),
             ('biological', 652),
             ('warfare', 230),
             ('horizon', 152),
             ('soldiers', 4407),
             ('infected', 979),
             ('daash', 112),
             ('transferred', 342),
             ('translate', 279),
             ('trick', 271),
             ('‘eating', 27),
             ('son’', 80),
             ('‘have', 57),
             ('ebola’', 45),
             ('aren’t', 526),

In [13]:
t.word_index['a']

3

In [14]:
sequences = t.texts_to_sequences(dataset.articleBody + ' ' + dataset.Headline)

#### fit_on_texts() gives the following attributes in the output as given [here](https://faroit.github.io/keras-docs/1.2.2/preprocessing/text/).

* **word_counts:** dictionary mapping words (str) to the number of times they appeared on during fit. Only set after fit_on_texts was called.

* **word_docs:** dictionary mapping words (str) to the number of documents/texts they appeared on during fit. Only set after fit_on_texts was called.

* **word_index:** dictionary mapping words (str) to their rank/index (int). Only set after fit_on_texts was called.

* **document_count:** int. Number of documents (texts/sequences) the tokenizer was trained on. Only set after fit_on_texts or fit_on_sequences was called.

### Now, tokenize the sentences using nltk sent_tokenize() and encode the senteces with the ids we got form the above `t.word_index`

Initialise 2 lists with names `texts` and `articles`.

```
texts = [] to store text of article as it is.

articles = [] split the above text into a list of sentences.
```

In [15]:
texts = []
articles = []

In [16]:
from nltk.tokenize import sent_tokenize

In [17]:
for i in range(len(dataset.articleBody)):
    texts.append(dataset.articleBody[i])
    articles.append(sent_tokenize(dataset.articleBody[i]))

## Check 2:

first element of texts and articles should be as given below.

In [18]:
texts[0]

'A small meteorite crashed into a wooded area in Nicaragua\'s capital of Managua overnight, the government said Sunday. Residents reported hearing a mysterious boom that left a 16-foot deep crater near the city\'s airport, the Associated Press reports. \n\nGovernment spokeswoman Rosario Murillo said a committee formed by the government to study the event determined it was a "relatively small" meteorite that "appears to have come off an asteroid that was passing close to Earth." House-sized asteroid 2014 RC, which measured 60 feet in diameter, skimmed the Earth this weekend, ABC News reports. \nMurillo said Nicaragua will ask international experts to help local scientists in understanding what happened.\n\nThe crater left by the meteorite had a radius of 39 feet and a depth of 16 feet,  said Humberto Saballos, a volcanologist with the Nicaraguan Institute of Territorial Studies who was on the committee. He said it is still not clear if the meteorite disintegrated or was buried.\n\nHumberto Garcia, of the Astronomy Center at the National Autonomous University of Nicaragua, said the meteorite could be related to an asteroid that was forecast to pass by the planet Saturday night.\n\n"We have to study it more because it could be ice or rock," he said.\n\nWilfried Strauch, an adviser to the Institute of Territorial Studies, said it was "very strange that no one reported a streak of light. We have to ask if anyone has a photo or something."\n\nLocal residents reported hearing a loud boom Saturday night, but said they didn\'t see anything strange in the sky.\n\n"I was sitting on my porch and I saw nothing, then all of a sudden I heard a large blast. We thought it was a bomb because we felt an expansive wave," Jorge Santamaria told The Associated Press.\n\nThe site of the crater is near Managua\'s international airport and an air force base. Only journalists from state media were allowed to visit it.'

In [19]:
articles[0]

["A small meteorite crashed into a wooded area in Nicaragua's capital of Managua overnight, the government said Sunday.",
 "Residents reported hearing a mysterious boom that left a 16-foot deep crater near the city's airport, the Associated Press reports.",
 'Government spokeswoman Rosario Murillo said a committee formed by the government to study the event determined it was a "relatively small" meteorite that "appears to have come off an asteroid that was passing close to Earth."',
 'House-sized asteroid 2014 RC, which measured 60 feet in diameter, skimmed the Earth this weekend, ABC News reports.',
 'Murillo said Nicaragua will ask international experts to help local scientists in understanding what happened.',
 'The crater left by the meteorite had a radius of 39 feet and a depth of 16 feet,  said Humberto Saballos, a volcanologist with the Nicaraguan Institute of Territorial Studies who was on the committee.',
 'He said it is still not clear if the meteorite disintegrated or was buried.',
 'Humberto Garcia, of the Astronomy Center at the National Autonomous University of Nicaragua, said the meteorite could be related to an asteroid that was forecast to pass by the planet Saturday night.',
 '"We have to study it more because it could be ice or rock," he said.',
 'Wilfried Strauch, an adviser to the Institute of Territorial Studies, said it was "very strange that no one reported a streak of light.',
 'We have to ask if anyone has a photo or something."',
 "Local residents reported hearing a loud boom Saturday night, but said they didn't see anything strange in the sky.",
 '"I was sitting on my porch and I saw nothing, then all of a sudden I heard a large blast.',
 'We thought it was a bomb because we felt an expansive wave," Jorge Santamaria told The Associated Press.',
 "The site of the crater is near Managua's international airport and an air force base.",
 'Only journalists from state media were allowed to visit it.']

# Now iterate through each article and each sentence to encode the words into ids using t.word_index  [5 marks] 

Here, to get words from sentence you can use `text_to_word_sequence` from keras preprocessing text.

1. Import text_to_word_sequence

2. Initialize a variable of shape (no.of articles, MAX_SENTS, MAX_SENT_LENGTH) with name `data` with zeros first (you can use numpy [np.zeros](https://docs.scipy.org/doc/numpy/reference/generated/numpy.zeros.html) to initialize with all zeros)and then update it while iterating through the words and sentences in each article.

In [20]:
from keras.preprocessing.text import text_to_word_sequence

In [21]:
NO_OF_ARTICLES = len(dataset)
data = np.zeros((NO_OF_ARTICLES, MAX_SENTS, MAX_SENT_LENGTH), dtype=int)
data.shape

(49972, 20, 20)

In [22]:
for i in range(NO_OF_ARTICLES):
    article = articles[i]
    sent_len = len(article)
    for j in range(sent_len):
        if j >= MAX_SENT_LENGTH:
            break
        sent = article[j]
        words = text_to_word_sequence(sent)
        for k in range(len(words)):
            if k < MAX_SENTS:
                data[i,j,k] = int(t.word_index[words[k]])
            else:
                break

### Check 3:

Accessing first element in data should give something like given below.

In [23]:
data[0, :, :]

array([[    3,   481,   427,  7211,    81,     3,  3733,   331,     5,
         3891,   350,     4,  1431,  2958,     1,    89,    12,   464,
            0,     0],
       [  758,    95,  1047,     3,  2679,  1752,     7,   189,     3,
         1217,  1075,  2030,   700,   159,     1,  3032,   448,     1,
          555,   235],
       [   89,  1067,  4115,  2349,    12,     3,  1092,  3306,    19,
            1,    89,     2,  1793,     1,   521,  2009,    15,     9,
            3,  3111],
       [  181,  3640,   972,   200,  2556,    44,  6775,  1722,  1252,
            5, 13317, 17936,     1,   778,    31,   740,  3990,    67,
           85,     0],
       [ 2349,    12,  1557,    38,  1094,   351,   775,     2,   367,
          260,  1770,     5,  4450,    70,   494,     0,     0,     0,
            0,     0],
       [    1,   700,   189,    19,     1,   427,    32,     3,  7417,
            4,  2159,  1252,     6,     3,  5270,     4,  1217,  1252,
           12,  3363],
       [   13,    12,    15,     8,   149,    25,   543,    64,     1,
          427,  3727,    41,     9,  1850,     0,     0,     0,     0,
            0,     0],
       [ 3363,  5733,     4,     1,  5875,   614,    21,     1,   311,
         3438,   794,     4,  1557,    12,     1,   427,    69,    23,
          787,     2],
       [   37,    17,     2,  1793,    15,    52,   120,    15,    69,
           23,  4921,    41,  1963,    13,    12,     0,     0,     0,
            0,     0],
       [ 4736,  3338,    24,  3969,     2,     1,  1316,     4,  3072,
         1653,    12,    15,     9,   195,  1420,     7,    58,    40,
           95,     3],
       [   37,    17,     2,  1094,    64,   510,    20,     3,   250,
           41,   264,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [  260,   758,    95,  1047,     3,  1806,  1752,   531,   276,
           29,    12,    33,   703,   163,   892,  1420,     5,     1,
         2081,     0],
       [   35,     9,  2057,    10,   116,  5825,     6,    35,   576,
          656,   104,    59,     4,     3,  2410,    35,   241,     3,
          512,  1911],
       [   37,   341,    15,     9,     3,  2082,   120,    37,   881,
           24,  4451,  2584,  4315,  4922,    55,     1,   555,   235,
            0,     0],
       [    1,   255,     4,     1,   700,     8,   159,  3961,   351,
          448,     6,    24,   155,   465,  1929,     0,     0,     0,
            0,     0],
       [  126,   921,    22,    47,   100,    36,  1833,     2,  1212,
           15,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0]])

# Repeat the same process for the `Headings` as well. Use variables with names `texts_heading` and `articles_heading` accordingly. [5 marks]

In [23]:
texts_heading = []
articles_heading  = []

for i in range(len(dataset.Headline)):
    texts_heading.append(dataset.Headline[i])
    articles_heading.append(sent_tokenize(dataset.Headline[i]))

In [25]:
data_heading = np.zeros((NO_OF_ARTICLES, MAX_SENTS, MAX_SENT_LENGTH), dtype=int)
data_heading.shape

(49972, 20, 20)

In [26]:
for i in range(NO_OF_ARTICLES):
    article = articles_heading[i]
    sent_len = len(article)
    for j in range(sent_len):
        if j >= MAX_SENT_LENGTH:
            break
        sent = article[j]
        words = text_to_word_sequence(sent)
        for k in range(len(words)):
            if k < MAX_SENTS:
                data_heading[i,j,k] = int(t.word_index[words[k]])
            else:
                break

### Now the features are ready, lets make the labels ready for the model to process.

### Convert labels into one-hot vectors

You can use [get_dummies](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) in pandas to create one-hot vectors.

In [27]:
np.unique(dataset.Stance)

array(['agree', 'disagree', 'discuss', 'unrelated'], dtype=object)

In [28]:
labels = pd.get_dummies(dataset.Stance)

### Check 4:

The shape of data and labels shoould match the given below numbers.

In [29]:
print('Shape of data tensor:', data.shape)
print('Shape of data heading tensor:', data_heading.shape)
print('Shape of label tensor:', labels.shape)

Shape of data tensor: (49972, 20, 20)
Shape of data heading tensor: (49972, 20, 20)
Shape of label tensor: (49972, 4)

### Shuffle the data

In [31]:
## get numbers upto no.of articles
indices = np.arange(data.shape[0])
## shuffle the numbers
np.random.shuffle(indices)

In [32]:
## shuffle the data
data = data[indices]
data_heading = data_heading[indices]
## shuffle the labels according to data
labels = labels.values[indices]

In [33]:
labels[0]

array([0, 0, 0, 1], dtype=uint8)

### Split into train and validation sets. Split the train set 80:20 ratio to get the train and validation sets.


Use the variable names as given below:

x_train, x_val - for body of articles.

x-heading_train, x_heading_val - for heading of articles.

y_train - for training labels.

y_val - for validation labels.

In [34]:
x_train = data[0:39978]
x_val = data[39978:]

x_heading_train = data_heading[0:39978]
x_heading_val = data_heading[39978:]

y_train = labels[0:39978]
y_val = labels[39978:]

### Check 5:

The shape of x_train, x_val, y_train and y_val should match the below numbers.

In [35]:
print(x_train.shape)
print(y_train.shape)

print(x_val.shape)
print(y_val.shape)

(39978, 20, 20)
(39978, 4)
(9994, 20, 20)
(9994, 4)

### Create embedding matrix with the glove embeddings


Run the below code to create embedding_matrix which has all the words and their glove embedding if present in glove word list.

In [36]:
# load the whole embedding into memory
embeddings_index = dict()
f = open('glove.6B.100d.txt', encoding="utf8")
for line in f:
    values = line.split()
    word = values[0]
    coefs = np.asarray(values[1:], dtype='float32')
    embeddings_index[word] = coefs
f.close()
print('Loaded %s word vectors.' % len(embeddings_index))

word_index = t.word_index
# create a weight matrix for words in training docs

Loaded 140205 word vectors.

In [37]:
num_words = min(MAX_NB_WORDS, len(word_index)) + 1
embedding_matrix = np.zeros((num_words, EMBEDDING_DIM))

for word, i in t.word_index.items():
    if i > MAX_NB_WORDS:
        continue
    embedding_vector = embeddings_index.get(word)
    if embedding_vector is not None:
        embedding_matrix[i] = embedding_vector

# Try the sequential model approach and report the accuracy score. [10 marks]

### Import layers from Keras to build the model

In [43]:
from keras.models import Sequential
from keras.layers import GlobalMaxPooling1D,Dense, LSTM, Input,Embedding,Conv1D,MaxPooling1D
from keras.models import Model

In [40]:
from keras.preprocessing.sequence import pad_sequences

data = pad_sequences(sequences, maxlen=MAX_SEQUENCE_LENGTH)

indices = np.arange(data.shape[0])
np.random.shuffle(indices)
data = data[indices]
num_validation_samples = int(VALIDATION_SPLIT * data.shape[0])

In [41]:
x_train = data[:-num_validation_samples]
x_val = data[-num_validation_samples:]

### Model

In [44]:
from keras.initializers import Constant

embedding_layer = Embedding(num_words,
                            EMBEDDING_DIM,
                            embeddings_initializer=Constant(embedding_matrix),
                            input_length=1000,
                            trainable=False)

In [45]:
sequence_input = Input(shape=(1000,), dtype='int32')
embedded_sequences = embedding_layer(sequence_input)
x = Conv1D(128, 5, activation='relu')(embedded_sequences)
x = MaxPooling1D(5)(x)
x = Conv1D(128, 5, activation='relu')(x)
x = MaxPooling1D(5)(x)
x = Conv1D(128, 5, activation='relu')(x)
x = GlobalMaxPooling1D()(x)
x = Dense(128, activation='relu')(x)
preds = Dense(4, activation='softmax')(x)

model = Model(sequence_input, preds)
model.compile(loss='categorical_crossentropy',
              optimizer='rmsprop',
              metrics=['acc'])

### Compile and fit the model

In [46]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         (None, 1000)              0
_________________________________________________________________
embedding_1 (Embedding)      (None, 1000, 100)         2000100
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 996, 128)          64128
_________________________________________________________________
max_pooling1d_1 (MaxPooling1 (None, 199, 128)          0
_________________________________________________________________
conv1d_2 (Conv1D)            (None, 195, 128)          82048
_________________________________________________________________
max_pooling1d_2 (MaxPooling1 (None, 39, 128)           0
_________________________________________________________________
conv1d_3 (Conv1D)            (None, 35, 128)           82048
_________________________________________________________________
global_max_pooling1d_1 (Glob (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 128)               16512
_________________________________________________________________
dense_2 (Dense)              (None, 4)                 516
=================================================================
Total params: 2,245,352
Trainable params: 245,252
Non-trainable params: 2,000,100
_________________________________________________________________

In [115]:
model.fit(x_train, y_train,
          batch_size=128,
          epochs=10,
          validation_data=(x_val, y_val))

Train on 39978 samples, validate on 9994 samples
Epoch 1/10
39978/39978 [==============================] - 358s 9ms/step - loss: 0.8266 - acc: 0.7322 - val_loss: 0.8201 - val_acc: 0.7264
Epoch 2/10
39978/39978 [==============================] - 331s 8ms/step - loss: 0.8022 - acc: 0.7325 - val_loss: 0.8232 - val_acc: 0.7264
Epoch 3/10
39978/39978 [==============================] - 328s 8ms/step - loss: 0.7994 - acc: 0.7325 - val_loss: 0.8120 - val_acc: 0.7264
Epoch 4/10
39978/39978 [==============================] - 307s 8ms/step - loss: 0.7966 - acc: 0.7325 - val_loss: 0.8118 - val_acc: 0.7264
Epoch 5/10
39978/39978 [==============================] - 286s 7ms/step - loss: 0.7940 - acc: 0.7325 - val_loss: 0.8138 - val_acc: 0.7264
Epoch 6/10
39978/39978 [==============================] - 286s 7ms/step - loss: 0.7900 - acc: 0.7325 - val_loss: 0.8106 - val_acc: 0.7264
Epoch 7/10
39978/39978 [==============================] - 286s 7ms/step - loss: 0.7857 - acc: 0.7325 - val_loss: 0.8217 - val_acc: 0.7264
Epoch 8/10
39978/39978 [==============================] - 286s 7ms/step - loss: 0.7801 - acc: 0.7325 - val_loss: 0.8284 - val_acc: 0.7264
Epoch 9/10
39978/39978 [==============================] - 286s 7ms/step - loss: 0.7733 - acc: 0.7326 - val_loss: 0.8444 - val_acc: 0.7261
Epoch 10/10
39978/39978 [==============================] - 286s 7ms/step - loss: 0.7660 - acc: 0.7325 - val_loss: 0.8636 - val_acc: 0.7264

#### Model Accuracy is 73%

## Build the same model with attention layers included for better performance (Optional)

## Fit the model and report the accuracy score for the model with attention layer (Optional)